body{
  background-color: #eeeeee;
  color: #222831;
}
.container{
  width: 100%;
  height: 100%;
  box-shadow: 12px 12px 2px 1px #0092ca;
  background-color: #eeeeee;
  margin-top: 10px;
}

.no-gutters{
  height: 350px;
}
card-img{
  width: 100%;
 height: auto;
}
