*{
  box-sizing: border-box;
}
body{
  background-color: #0092ca
}
.box{
  position: relative;
  width: 500px;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 0 15px #393e46;
  border-radius: 7.5px;
  overflow: hidden;
}
.box > *{
  position: absolute;
  width: 100%;
  height: 100%;
}
.box .cover img{
  width: 100%;
  height: 100%;
}
.box .description{
  background-color:rgba(57, 62, 70, 0.5);
  color: #eeeeee;
  height: 20%;
  bottom: 0;
  padding: 15px;
  text-align: center;
  transition: .5s all ease-in-out
}
.box:hover .description{
  height: 100%
}
.box:hover .description > .header, .box:hover .description > .body, .box:hover .description > .footer{
  opacity: 100%
}
.box .description .header{
  height: 15%;
  opacity: 60%;
  transition: .5s all ease-in-out
}
.box .description .body{
  height: 70%;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  opacity: 0;
  transition: .5s all ease-in-out
}
.box .description .footer{
  height: 15%;
  padding-top: 15px;
  opacity: 0;
  transition: .5s all ease-in-out
}
.box .description .body::-webkit-scrollbar {
  display: none;
}
