body{
  background-color: #EEEEEE;
}

.container{text-align: center; }

.prem{  width:70%; height: auto; text-align: center; background-color: #EEEEEE; display:inline-block; justify-content:space-around; box-shadow: 1px 1px 10px #222831; text-align: left; border-radius: 8px;}

.prem .h1{  color: blue; text-align:center; }

h2{ text-align: center;}

p{ font-size: 20px; margin: 15px; }

.im1, .im2{ margin: 10px;  width: 95%;}

h3{ background-color: #0092CA; padding-top: 10px; padding-bottom: 10px; font-style: oblique; width: 100%; display:inline-block; justify-content:space-around; border-radius: 8px 8px 0px 0px; text-align: center; margin: 0;}

.deux, .trois, .qautre, .cinq, .img1, .img2, .cFiliere{ background-color: white; height: auto; width: 70%; display:inline-block; justify-content: space-around; box-shadow: 1px 1px 10px #222831; text-align: left; border-radius: 8px;}

.cFiliere{ margin-top: 20px;}

.chef{height: auto; width: 100%;  text-align: center; border-bottom: 1px solid black;}

.images{ text-align: center; }