@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.filiere{
  width: 100%;
  padding: 50px;
  font-family: 'Questrial', sans-serif;
}

.filiere .container{
  margin: 0 auto;
  text-align: center
}

.filiere .prem{
  position: relative;
  width:100%;
  height: auto;
  text-align: center;
  background-color: #EEEEEE;
  display:inline-block;
  justify-content:space-around;
  box-shadow: 0px 2px 7px #222831;
  text-align: left;
  border-radius: 8px;
}

.filiere .prem span{
  background-color: #393e46;
  color: #eeeeee;
  position: absolute;
  bottom: 10px;
}

.filiere .prem #sl{
  left: 1%
}

.filiere .prem #sr{
  right: 1%
}

.filiere h6{
  text-align: center;
}

.filiere p{
  font-size: 20px;
  margin: 15px;
}

.filiere .im1, .filiere .im2{
  margin: 10px;
  width: 95%
}

.filiere h3{
  background-color: #393e46;
  color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  width: 100%;
  display:inline-block;
  justify-content:space-around;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  margin: 0;
}

.filiere .deux, .filiere .trois, .filiere .qautre, .filiere .cinq,

.filiere .img1, .filiere .img2, .filiere .cFiliere{
  background-color: #eeeeee;
  height: auto;
  width: 100%;
  display:inline-block;
  justify-content: space-around;
  box-shadow: 0 2px 7px #222831;
  text-align: left;
  border-radius: 8px;
}

.filiere .cFiliere{
  margin-top: 20px;
}

.filiere .chef{
  padding: 20px;
  text-align: center
}

.filiere .images{
  text-align: center;
}
