.login_container{
  display: none
}
.login_dialog{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222831;
  opacity: 40%;
  z-index: 999
}
.login_box .formulaire{
    border-radius: 20px;
    background-color: #EEEEEE;
    padding: 10px;
}

.login_box img{
    padding-left: 55px;
    width: 300px;
}

.login_box{
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login_box input{
    margin: 10px;
    width: 350px;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    display: table;
    outline: none;
}

.login_box input[type="text"]{
    padding-left: 30px;
}

.login_box input[type="text"]:focus{
    border-color: #0092ca;
    box-shadow: 0 0 2px 0 #0092ca;
}

.login_box input[type="password"]{
    padding-left: 30px;
}

.login_box input[type="password"]:focus{
    border-color: #0092ca;
    box-shadow: 0 0 2px 0 #0092ca;
}

.login_box input[type="submit"]{
    color: #0092ca;
    border: 2px solid #0092ca;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.login_box input[type="submit"]:hover{
    background-color: #0092ca;
    color: #EEEEEE;
}

.login_box .inputIcon{
    position: relative;
}

.login_box .inputIcon i{
    position: absolute;
    left: 20px;
    top: 8px;
    color: #393e46;
}

.login_box .inputIcon input[type="text"]:focus + i{
    color: #0092ca;
}

.login_box .inputIcon input[type="password"]:focus + i{
    color: #0092ca;
}
