.avis-info_container *{
  color: #eeeeee;
}
.avis-info_container .container{
  background-color: #393e46;
  border: 1px solid black;
  width:70%;
  padding: 20px;
  border-radius: 30px;
  transition: all .5s ease-in-out;
}
.avis-info_container .container:hover{
  /* transform: scale(1.01); */
}
.avis-info_container .discrption{
  padding: 10px 30px 10px 30px;
}

.avis-info_container a{
  text-decoration: none;
  color: #eeeeee;
}

.avis-info_container hr{
  border: 1px solid #eeeeee;
}
