body{
  background-color: #0092ca;
}
.container{
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr)) ;
  padding: 30px 30px;
  background-color: #0092ca;
}
.card{
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  background-color: #393e46;
  color: #eeeeee;
  cursor: pointer;
}

.card:hover{
    transform: scale(0.9) skew(-10deg);
}

.bg-primary{
  background-color: #eeeeee;
}

a.link,
a.link:hover {
  color: inherit;
  text-decoration: none;
}

.date{
  font-size: 10px;
  text-align: right;
}
