.avis_container{
  display: inline-block
}
.avis_container .card{
  display: flex;
  background-color: #393e46;
  color: #eeeeee;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out
}
.avis_container .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #393e46;
    z-index: 999;
}
.avis_container .bg-primary{
  background-color: #eeeeee;
}

.avis_container a.link{
  color: inherit;
  text-decoration: none;
}
.avis_container .date{
  font-size: 10px;
  text-align: right;
}
