*{
  outline: none
}
body{
  background-color: #eeeeee
}
footer{
  /* margin-bottom: 0; */
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}







#sidebar{
  height: 800px;
  background-color: red;
  grid-column: 1;
  grid-row: 1 / 4
}
#annonce{
  height: 400px;
  background-color: yellow;
  grid-column: 2 / 4;
  grid-row: 1
}
#avis{
  height: 400px;
  overflow-y: scroll;
  background-color: maroon;
  grid-column: 2 / 4;
  grid-row: 2
}
#about{
  height: 400px;
  background-color: lightgreen;
  grid-column: 1 / 4;
  grid-row: 3
}
