*{
  outline: none
}
body{
  background-color: #eeeeee
  /* background-image: linear-gradient(to bottom, #eeeeee, #393e46); */
}
footer{
  /* margin-bottom: 0; */
}
main{
  padding: 50px;
  padding-bottom: 0
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px
}







#sidebar{
  grid-column: 1;
  grid-row: 1 / 4
}
#annonce{
  grid-column: 2 / 4;
  grid-row: 1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #222831
}
#avis{
  grid-column: 2 / 4;
  grid-row: 2
}
/* #about{
  grid-column: 1 / 4;
  grid-row: 3
} */
